<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
</head>
<body>
<p>{{ Nom }}</p>
<p>{{ Email }}</p>
<p>{{ Telephone }}</p>
<p>{{ Message }}</p>
</body>
</html>